@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f2f2f5;
    color: #1d1d1f;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background: #ffffffee;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #d0d0d5;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.nav-links {
    display: flex;
    gap: 22px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 6px 10px;
    border-radius: 8px;
}

.nav-links a:hover {
    color: #fff;
    background: #0071e3;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* TITLE */
.title {
    text-align: center;
    margin-top: 40px;
    font-size: 34px;
    font-weight: 700;
    color: #111;
}

/* GRID CONTAINER */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 28px;
    padding: 40px;
}

/* CARD */
.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 16px;
}


.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 14px 28px rgba(0,0,0,0.12);
}

.card h2 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #000;
}

.price {
    font-size: 20px;
    font-weight: 500;
    color: #0071e3;
    margin-bottom: 16px;
}

/* BUTTON */
.btn {
    background: #0071e3;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn:hover {
    background: #005bb5;
}

/* -------------------- */
/* RESPONSIVE NAVBAR */
/* -------------------- */

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .title {
        font-size: 28px;
    }
}
